.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.repository-select
{
    font-family: Verdana, Helvetica, Arial, sans-serif
}

.chosen-container .chosen-drop {
    background-color: #f2ece0;
}

.chosen-container-single .chosen-single {
    border-color: #cdc3b7;
}

.chosen-container .chosen-results li.group-result {
    color: #444;
    border-bottom: 1px solid #444;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-multi .chosen-choices li.search-choice {
    background: #ede4d4 url(images/ui-bg_glass_70_ede4d4_1x400.png) 50% 50% repeat-x;
}

.chosen-container .chosen-drop,
.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-active .chosen-choices {
    border-color: #f5ad66;
}
